body{
    font-family: sans-serif;
}

.the-behind-picture{
    width: 30vw;
    height: 100vh;
    background-image: url('Cloud\ 9.jpg');
}

/*h1{
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding-top: 200px;
    background-color: rgb(72,114,191);
    opacity: 0.5;
    height: 10px;
}*/

#desperation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(72,114,191, 0.5);
    margin-top: 290px;
    height: 100px;
  }
  
#logo-image {
    width: 25%;
  }

#logo-text{
    color: white;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    align-self: center;

}

.container{
    display: flex;
    flex-direction: row;
}

.sub-container{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 60px 0 0 40px ;
    background-color: rgba(72,114,191, 0.15);

}

.body-of-form{
    height: 30vh;
    background-color: rgb(248, 249, 249 );
    padding-top: 30px;
}

.bottom-baby{
    height: 35vh;
}

fieldset{
    border: 0;
}

.sunshine{
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 0.9rem;
}

.penguin{
    padding-left: 100px; 
}

input:invalid{
    border: 1px solid red;
}

input:valid{
    border: 1px solid green;
}

input:focus{
    outline-color: rgb(61, 184, 201); 
    box-shadow: 3px 3px 10px grey;
}

.butterfly{
    padding-left: 35px;
} 

.loner{
    padding-left: 50px;
    font-size: 1.5rem;
}

.bottom-baby{
    padding-top: 30px;
    padding-left: 50px;
    font-size: 1.2rem;
    background-color: rgba(72,114,191, 0.15);
}

button{
    margin-bottom: 30px;
    font-size: 1rem;
}
